*{
box-sizing: border-box;
}

/*Тело сайта*/
body{
background-color: #ede9e0;
}

div{

}

header{

}
/*Заголовок 1 уровня*/
h1{
font-family: 'Fira Sans', medium;
font-size: 48px;
text-align: left;
}

/*Заголовок 2 уровня*/
h2{
font-family: 'Fira Sans', medium;
font-size: 36px;
letter-spacing: 50; /*50 чего?*/
line-height: 40px;
}

/*Заголовок 3 уровня*/
h3{
font-family: 'Fira Sans', medium;
font-size: 24px;
letter-spacing: 50; /*50 чего?*/
line-height: 40px;
}

/*Обычный текст*/
p{
font-family: 'Roboto', Regular;
font-size: 16px;
line-height: 30px;
}

/*Ссылки*/

a{
font-family: 'Fira Sans', medium;
font-size: 16px;
letter-spacing: 50;
line-height: 30px;
text-decoration: none;
color: #202020;
}
a:hover{
font-family: 'Fira Sans', medium;
font-size: 16px;
letter-spacing: 50;
line-height: 30px;
text-decoration: none;
color: #510fad;
}

/*Wrapper*/
.wrapper{
background: url(../images/dog.png) no-repeat;
background-position-x: 5%;
background-position-y: -1%;
width: 1024px;
margin: 0 auto;
}

/*Контейнер*/
.container{
width: 940px;
display: flex;
margin: 0 auto
;
}

/
/*Секции*/
.section{
text-align: center;
}

.headofname{
text-align: center;
}

.logotype{
text-align: center;
padding: 1%;
width: 20%
}
.navigation{
text-align: center;
padding-top: 1%;
width: 60%;
}
.navigation_item{
list-style-type: none;
display: inline-flex;
text-align: center;
margin-left: 1%;
list-style-type: none;
color: #202020;
}
.phone{
width: 20%;
padding-top: 3%;
text-align: center;
color: #510fad;
}


.promo{
text-align: center;
}

.promo_text_general{
  text-align: left;
  width: 40%;
  margin-left: 40%;
  margin-top: 10%;
}
.promo_quote{
  text-align: left;
  width: 40%;
  margin-left: 40%;
  text-transform: uppercase;
  color: #737274;
}


.about_farm{
margin-top: 20%;
background: url(../images/backround_shape.svg) no-repeat;
background-size: 940px auto;
background-position-x: 50%;
background-position-y: 1%;
}
.about_farm_header{
text-align: center;
padding-top: 15%;
color: white;
}
.about_farm_info_text{
text-align: left;
margin: 0 35% 0 30%;
padding-bottom: 5%;
color: #b8adc8;
}
.about_farm_table{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}
.about_farm_image{
flex-direction: row;
width: 50%;
margin: 1%;
}
.about_farm_img{
border-radius: 10px;
padding-bottom: 40%;
margin-left: 15%;
}
.about_farm_preferences{
margin-left: 15%;
flex-direction: row;
width: 50%;
}
.about_farm_pref_text{
margin-bottom: 5%;
color: white;
}
.about_farm_link{
margin-left: 8%;
margin-top: 15%;
color: #ffec00;
}
.about_farm_link:hover{
color: #b8adc8;
}


.breeds{
}
.breeds_list{
display: flex;
flex-wrap: wrap;
}
.breeds_list_info{
display: inline-block;
margin-top: 3%;
width: 50%;
}
.breeds_list_image{
border-radius:50%;
padding: 0% 4%;
margin-top: 5%;
}
.breeds_item-header{

}

.breeds_item-block{
display: flex;

}
.breeds_item-text{
font-family: : 'Roboto', Regular;
height: auto;
}
.breeds_link{
margin-left: 35%;
color: #510fad;
}
.breeds_link:hover{
color: #737274;
}

.reviews{
padding-top: 5%;
padding-bottom: 10%;
}
.reviews_table{

}
.reviews_text{
width: 50%
}
.name{

}
.reviews_text_big{
}
.reviews_img{
width: 50%;
border-radius: 20px;
box-shadow: -6px -6px 40px 0px rgba(0, 0, 0, .75);
}
.reviews_text-link{
font-family: 'Roboto', Italic;
font-size: 16px;
margin-left: 51%;
}

.reviews_link{
color: #510fad;
}
.reviews_link:hover{
color: #737274;
}


.about_animals{
flex-direction: row
padding: 5%;
padding-bottom: 10%;
padding-top: 10%;
background-image: url(../images/backgroun_pattern.png);
}
.ab_anim_table_left {
  width: 50%;
  display: flex;
}
.ab_anim_table_right {
  width: 50%;
  display: flex;
}
.about_text {

}

.about_social{

}

.table_article {
  width: 55%;
  flex-direction: row;
  margin: 2%;
}
.article_background {
background-color: white;
border-radius: 10px;
box-shadow: 6px 6px 40px 0px rgba(0, 0, 0, .40);
}
.article_background:hover{
box-shadow: -12px 12px 80px 0px rgba(0, 0, 0, .80);
}
.article_img{
vertical-align: top;
border-radius: 10px 10px 0 0;
}
.article_text{
  padding-left: 5%;
}

.arrow::after{
background: url(../images/sprite.png);
background-repeat: no-repeat;
}

.ab_anim_link{
  position: relative;
  display: inline-block;
  padding-left: 5%;
  color: #510fad;
  font-weight: bold;
}

.ab_anim_link::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  background-position: -2px -336px;
  left: 118px;
  top: 9px;
}
.ab_anim_link:hover{
  color: #737274;
}
.ab_anim_link:hover::after{
  background-position: -2px -352px;
}

/*

.arrow-next-blue{
background-position: -2px -336px; width: 20px; height: 14px;
position: relative;
top: -22px;
left: 124px;
}
.arrow-next-blue:hover{
background-position: -2px -352px; width: 20px; height: 14px;
}

*/

.social{
flex: 0 0 auto;
}
/*
.social{
background-image: url(images/sprite.png);
}
*/


.contacts{
 padding-bottom: 5%;
}
.contacts_name_header{
text-align: center;
}
.contacts_information{
  display: flex;
  padding-left: 1%;
}

.contofname{
  padding-left: 40px;
}
.contacts_col{
  width: 50%;
  /*margin-left: 5%;*/
  display: flex;
  flex-wrap: wrap;
}


.contacts_header{
width: 100%;
}

.contact_info{
text-transform: uppercase;
color: #737274;
font-weight: bold;
}
.contacts_info_item{

}


.footer-nav{
width: 80%;
}
.footer-nav_item{
list-style-type: none;
display: inline-flex;
text-align: top;
margin-left: 3%;

}
.footer-nav_link{
color: #737274;
}
.footer-social{
width: 20%;
text-align: center;
margin:2%;
}
.footer-social_link{

}
.icon{
display: inline-block;
background-repeat: no-repeat;
background: url(../images/sprite.png);
}

.about-vk{
background-position: -2px -308px; width: 26px; height: 26px;
}
.about-vk:hover{
background-position: -2px -280px; width: 26px; height: 26px;
}
.about-fb{
background-position: -2px -196px; width: 26px; height: 26px;
}
.about-fb:hover{
background-position: -2px -168px; width: 26px; height: 26px;
}
.about-inst{
background-position: -2px -252px; width: 26px; height: 26px;
}
.about-inst:hover{
background-position: -2px -224px; width: 26px; height: 26px;
}

.footer-vk{
background-position: -2px -140px; width: 26px; height: 26px;
}
.footer-vk:hover{
background-position: -2px -112px; width: 26px; height: 26px;
}
.footer-fb{
background-position: -2px -28px; width: 26px; height: 26px;
}
.footer-fb:hover{
background-position: -2px -0px; width: 26px; height: 26px;
}
.footer-inst{
background-position: -2px -84px; width: 26px; height: 26px;
}
.footer-inst:hover{
background-position: -2px -56px; width: 26px; height: 26px;
}
/*

*/
.arrow-next-yellow{
background-position: -2px -368px; width: 20px; height: 14px;
position: relative;
top: -22px;
left: 215px;
}
.arrow-next-yellow:hover{
background-position: -2px -384px; width: 20px; height: 14px;
}