*{
box-sizing: border-box;
}

/*Тело сайта*/
body{
background-color: #ede9e0;
}

div{

}
/*Заголовок 1 уровня*/
h1{
font-family: 'Fira Sans', medium;
font-size: 48px;
text-align: center;
}

/*Заголовок 2 уровня*/
h2{
font-family: 'Fira Sans', medium;
font-size: 36px;
letter-spacing: 50; /*50 чего?*/
line-height: 40px;
}

/*Заголовок 3 уровня*/
h3{
font-family: 'Fira Sans', medium;
font-size: 24px;
letter-spacing: 50; /*50 чего?*/
line-height: 40px;
}

/*Обычный текст*/
p{
font-family: 'Roboto', Regular;
font-size: 16px;
line-height: 30px;
}

/*Ссылки*/

a{
font-family: 'Fira Sans', medium;
font-size: 16px;
letter-spacing: 50;
line-height: 30px;
text-decoration: none;
}

/*Wrapper*/
.wrapper{
width: 1024px;
border: 1px solid black;

margin: 0 auto;
}

/*Контейнер*/
.container{
display: flex;
width: 940px;
margin: 0 auto;
padding-left: 40px;
padding-right: 40px;
border: 1.5px solid yellow;
box-sizing: border-box;
}
/
/*Секции*/
.section{

}

.logotype{
text-align: center;
padding: 1%;
width: 20%
}
.navigation{
text-align: center;
padding-top: 1%;
width: 60%;
}
.navigation_item{
list-style-type: none;
display: inline-flex;
text-align: center;
margin-left: 1%;
color: #202020;
}
.phone{
width: 20%;
padding-top: 3%;
text-align: center;
}


.promo{

}
.promo_text{
width: 100%;
border: 1px solid blue;
}
.promo_quote{
width: 100%;
border: 1px solid black;
display: block;
}
.promo_quote_text{

}


.about_farm{
flex-direction: column;
}
.about_farm_info{

}
.about_farm_info_text{

}
.about_farm_table{

}
.about_farm_image{

}
.about_farm_img{
border-radius: 10px;
}
.about_farm_preferences{

}
.about_farm_pref_text{

}
.about_farm_link{

}


.breeds{

}
.breeds_list{

}
.breeds_list_info{
width: 50%;
height: auto;
border: 1px solid black;
padding: 1%;

}
.breeds_list_image{
border-radius:50%;
padding: 0% 4%;
float: left;
}
.breeds_item-header{

}
.breeds_item-text{
font-family: : 'Roboto', Regular;
}
.breeds_link{
text-align: center;
}

.reviews{

}
.reviews_table{

}
.reviews_text{

}
.name{

}
.reviews_text_big{

}
.reviews_img{

}
.reviews_text-link{
font-family: 'Roboto', Italic;
font-size: 16px;
}
.reviews_link{

}


.about_animals{


}
.ab_anim_table{
  width: 50%;
  display: flex;
}
.about_text{
padding: 5%;
}

.table_article{
  width: 55%;
  flex-direction: row;
  margin: 2%;
}
.article_background{
background-color: white;
border-radius: 10px;
}
.article_img{
vertical-align: top;
border-radius: 10px 10px 0 0;
}
.article_text{
  padding-left: 5%;
}
.ab_anim_link{
  padding-left: 5%;
}
.social{
padding-left: 5%;
flex: 0 0 auto;
}
.social_link{

}



.contacts{
text-align: left;

}
.contacts_name_header{
  text-align: left;
  display: inline-block;
}
.contacts_information{
width: 100%;
}

.contacts_header{
border: 1px solid blue;
display: inline-block;
width: 49%;
height: auto;
vertical-align: top;
}

.contact_info{

}
.contacts_info_item{

}


.footer-nav{
width: 80%;
}
.footer-nav_item{
list-style-type: none;
display: inline-flex;
text-align: top;
margin-left: 3%;

}
.footer-nav_link{
color: #737274;
}
.footer-social{
width: 20%;
text-align: center;
margin:2%;
}
.footer-social_link{

}